/* Resets
==================== */

html, body, a, p, h1, h2, h3, h4, h5, h6, span, b, i, div, video, audio {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #333;
}

html, body {
    scroll-behavior: smooth;
}

/* Nav section @nav
======================= */

#nav {
    position: fixed;
    width: 100%;
    height: 67px;
    padding: 20px 30px;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
	-o-transition: .2s ease;
	z-index: 10;
}

#nav.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
}

#nav .logo {
	height: 48px;
	width: 48px;
	padding: 20px;
	background-color: #fff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	float: left;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-ms-transition: .2s ease;
	-o-transition: .2s ease;
	border: 2px solid transparent;

}

#nav.shadow .logo {
	margin-top: -5px;
	border: 2px solid rgba(0, 0, 0, .15);
}

#nav.shadow .logo:hover {
	box-shadow: 0px 8px 10px rgba(0, 0, 0, .2);
}

#nav .logo path {
    fill: none;
    stroke-width: 12px;
    stroke: rgba(0, 0, 0, .3);
}

#nav .logo path.filled {
    fill: #4c4a53;
    stroke-width: 0px;
}

#nav .links {
	margin-top: 15px;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-ms-transition: .2s ease;
	-o-transition: .2s ease;
}

#nav.shadow .links {
	margin-top: 5px;
}

#nav .links a {
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav .links a span {
    color: rgba(0, 0, 0, .7);
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
}

#nav .links a.selected {
    cursor: default;
}

#nav .links a.selected span {
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, .4);
}

#nav:hover .links a:not(.selected) span {
    color: rgba(0, 0, 0, .4);
}

#nav .links .line {
    position: absolute;
    width: 80px;
    height: 3px;
    top: 65px;
    background-color: #005fb3;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#nav .links .line.hidden {
    width: 0px;
    opacity: 0;
}