/* Resets
==================== */

html, body, a, p, h1, h2, h3, h4, h5, h6, span, b, i, div, video, audio {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #333;
}

html, body {
    
}

/* Nav section @nav
======================= */

#nav {
    position: fixed;
    width: 100%;
    height: 67px;
    padding: 20px 30px;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
	-o-transition: .2s ease;
	z-index: 10;
}

#nav.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
}

#nav .logo {
	height: 48px;
	width: 48px;
	padding: 20px;
	background-color: #fff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	float: left;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-ms-transition: .2s ease;
	-o-transition: .2s ease;
	border: 2px solid transparent;

}

#nav.shadow .logo {
	margin-top: -5px;
	border: 2px solid rgba(0, 0, 0, .15);
}

#nav.shadow .logo:hover {
	box-shadow: 0px 8px 10px rgba(0, 0, 0, .2);
}

#nav .logo path {
    fill: none;
    stroke-width: 12px;
    stroke: rgba(0, 0, 0, .3);
}

#nav .logo path.filled {
    fill: #4c4a53;
    stroke-width: 0px;
}

#nav .links {
	margin-top: 15px;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-ms-transition: .2s ease;
	-o-transition: .2s ease;
}

#nav.shadow .links {
	margin-top: 5px;
}

#nav .links a {
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav .links a span {
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav .links a span {
    color: rgba(0, 0, 0, .7);
}

#nav:hover .links a span {
    color: rgba(0, 0, 0, .4);
}

#nav .links a:hover span {
    color: #005fb3;
}

#nav .links .line {
    position: absolute;
    width: 80px;
    height: 3px;
    top: 65px;
    background-color: #005fb3;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav .links .line.hidden {
    width: 0px;
    opacity: 0;
}

/* Wrapper / @wrapper
==================== */

#wrapper {
    padding: 0px 40px;
}

#wrapper .text {
    padding-bottom: 25%;
    padding-top: 12%;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    cursor: default;
}

#wrapper .text > h5 {
    background: rgba(0, 0, 0, .12);
    display: flex;
    align-items: center;
    justify-content: center;
	width: 160px;
	margin-top: 50px;
    padding: 0 15px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#wrapper .text > h5 svg {
    width: 24px;
    margin-right: 10px;
}

#wrapper .text > h5 span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

#wrapper .text h1 {
	font-family: "Roboto", sans-serif;
	font-size: 150px;
	font-weight: 700;
	line-height: 150px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-image: linear-gradient(to right,#3D9970, #2ECC40);
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0px 2px 5px rgba(94, 255, 0, 0.4));
	-webkit-filter: drop-shadow(0px 2px 5px rgba(94, 255, 0, 0.4));
}

#wrapper .text > p {
	font-size: 20px;
}

#wrapper .text p b {
	font-family: "Lexend Deca", sans-serif;
	color: #222;
	border-bottom: 2px solid currentColor;
}

#wrapper .text p i {
	border-bottom: 2px solid currentColor;
	color: #111;
}

#wrapper .graphics {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
}

#wrapper .graphics .rpi {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    right: 15%;
    position: absolute;
    filter: drop-shadow(0px 5px 60px rgba(41, 207, 0, 0.76));
    -webkit-filter: drop-shadow(0px 5px 60px rgba(41, 207, 0, 0.76));
    z-index: 0;
}

#wrapper .graphics .rpi img {
    animation: rpi-big 60s ease infinite;
    -webkit-animation: rpi-big 60s ease infinite;
}

@keyframes rpi-big {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}

    50% {
        transform: translateY(-30px) translateX(80px) rotate(10deg);
        -webkit-transform: translateY(-30px) translateX(80px) rotate(10deg);
        -moz-transform: translateY(-30px) translateX(80px) rotate(10deg);
        -ms-transform: translateY(-30px) translateX(80px) rotate(10deg);
        -o-transform: translateY(-30px) translateX(80px) rotate(10deg);
}

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

#wrapper .scroll {
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper .scroll svg {
    height: 100%;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#wrapper .scroll .two {
    margin-left: -48px;
    opacity: 0;
}

#wrapper .scroll:hover .two {
    opacity: .5;
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
}

#wrapper .scroll:hover .one {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
}

/* Features / @features
==================== */

#wrapper .features {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin-top: 50px;
}

#wrapper .features > h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #222;
    margin-bottom: 20px;
}

#wrapper .features .left {
    width: 50%;
    float: left;
}

#wrapper .features .selected {
    box-shadow: 0 3px 25px rgba(0, 0, 0, .4);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-sizing: border-box;
    padding: 30px;
    width: 60%;
    min-height: 110px;
    min-width: 500px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#wrapper .features .selected:hover {
    box-shadow: 0 10px 45px rgba(0, 0, 0, .5);
}

#wrapper .features .selected svg {
    width: 48px;
    margin-right: 15px;
    float: left;
}

#wrapper .features .selected h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #222;
    margin-bottom: 10px;
}

#wrapper .features .selected p {
    line-height: 25px;
    margin-left: 65px;
}

#wrapper .features .small {
    padding: 20px 0;
}

#wrapper .features .small svg {
    width: 24px;
    height: 34px;
    padding: 10px 15px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#wrapper .features .small svg:hover {
    background-color: rgba(0, 0, 0, .15);
}

#wrapper .features .small svg.highlighted {
    fill: #0074D9;
    background-color: rgba(0, 116, 217, .3);
}

#wrapper .features .small svg.highlighted:hover {
    fill: #005096;
    background-color: rgba(0, 76, 143, 0.3);
}

#wrapper .features .picture {
    width: 50%;
    float: right;
}

#wrapper .features .picture img {
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
}

/* Connect modal / @connect
=============================== */

#connect {
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

#connect.hidden {
    opacity: 0;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
    -o-transform: translateY(250px);
}

#connect h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #444;
}

#connect h4 b {
    color: #222;
    margin-right: 5px;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid #333;
}

#connect img {
    height: 180px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, .15));
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, .15));
}

#connect p {
    font-size: 15px;
    margin-bottom: 35px;
}

#connect p span {
    font-family: "Roboto Mono", sans-serif;
}

#connect p .version {
    font-size: 13px;
}

#connect > svg {
    margin-left: 10px;
    margin-top: 3px;
    padding: 5px;
    width: 32px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    float: left;
    cursor: pointer;
}

#connect > svg:hover {
    background-color: rgba(0, 0, 0, .15);
}

#connect > a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #0074D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 96px);
    height: 48px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    float: right;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#connect > a:hover {
    color: #e4f3ff;
    background-color: #005fb3;
    box-shadow: 0px 2px 5px rgba(0, 65, 122, .5);
}